<!-- <h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p> -->

<!-- <p>@coach_answer</p>
<%= @coach_answer %> -->
<h1>My question is:</h1>
<p><%= @user_question %></p>

<h2>The coach says:</h2>
<p><%= @coach_answer %></p>

<%= link_to "Another question?", ask_path %>
